@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
--brand-red: #a93436;
--brand-olive: #2f3b2f;
}


body{
font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}